.preloader {
    position: fixed;
    inset: 0;
    background-color: var(--color-black);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.preloader-logo {
    height: 100px;
    width: auto;
    filter: invert(1);
    /* Make it white on black background */
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.05);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}